body{
    background-color: beige;
    text-align: center;
    font-family: kalnia;
}
h1{
    margin: 0;
}
.hidden{
    display: none;
}
#opponent-choice{
    margin-top: 10px;
    height: 240px;
    width: 240px;
}
#user-choice{
    margin-top: 10px;
    height: 240px;
    width: 240px;
}
#choices img{
    height: 80px;
    width: 80px;
    margin: 0 auto;
}